@model IEnumerable<Infrastructure.Models.PaymentPlan>

@{
    ViewBag.Title = "Payment Plan Maintenance";
}

<h2>Payment Plan Maintenance</h2>

<a href="@Url.Action("Create", "PaymentPlan")" class="btn btn-primary">Create <i class="fa-solid fa-plus"></i></a>

<div class="table-responsive ">
    <table class="table table-striped trCustom shadow-lg" id="myTable">
        <thead>
            <tr class=" table-dark">
                <th>
                    @Html.DisplayNameFor(model => model.IDPlan)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Total)
                </th>
                <th></th>
               
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IDPlan)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Total)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", "PaymentPlan", new { id = item.IDPlan })" class="btn btn-primary">Edit <i class="fa-solid fa-pen"></i></a>
                    </td>
                </tr>
            }

        </tbody>


    </table>
</div>
    
