@model Infrastructure.Models.Residence

@{
    ViewBag.Title = "Create Residence";
}

<h2>Register Residence</h2>

@using (Html.BeginForm("SaveCreate", "Residence", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Residence</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group d-none">
            @Html.LabelFor(model => model.IDResidence, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12 ">
                @Html.EditorFor(model => model.IDResidence, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.NewResidenceID } })
                @Html.ValidationMessageFor(model => model.IDResidence, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group my-3">
            @Html.LabelFor(model => model.IDUser, "User", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                @Html.DropDownList("IDUser", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IDUser, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group my-3">
            <label class="control-label">Payment Plan</label>
            <div class="col-md-12">
                @Html.DropDownList("idPlan",
               (SelectList)ViewBag.Plans,
               htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group my-3">
            @Html.LabelFor(model => model.Habitants, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.Habitants, new { htmlAttributes = new { @class = "form-control", @Value = 1 } })
                @Html.ValidationMessageFor(model => model.Habitants, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group my-3">
            @Html.LabelFor(model => model.StartYear, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.StartYear, new { htmlAttributes = new { @class = "form-control", @Value = DateTime.Now.Year } })
                @Html.ValidationMessageFor(model => model.StartYear, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group my-3">
            @Html.LabelFor(model => model.InConstruction, htmlAttributes: new { @class = "control-label col-md-5" })
            <div class="col-md-12">
                <div class="checkbox">
                    @Html.EditorFor(model => model.InConstruction)
                    @Html.ValidationMessageFor(model => model.InConstruction, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group my-3">
            <div class="col-md-offset-2 col-md-12">
                <input type="submit" value="Create" class="btn btn-default" />
                @Html.ActionLink("Back to List", "Maintenance", null, new { @class = "btn btn-primary mx-1" })
            </div>
        </div>
    </div>
}

