@model IEnumerable<Infrastructure.Models.Residence>

@{
    ViewBag.Title = "Residences";
}

<h2>Residences List</h2>

@*<button class="btn btn-default">
        @Html.ActionLink("Create New", "Create")
    </button>*@
<div class="table-responsive ">
    <table class="table table-striped trCustom shadow-lg" id="myTable">
        <thead>
            <tr class="table-dark">
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.IDResidence)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User.IDUser)

                </th>

                <th>
                    @Html.DisplayNameFor(model => model.StartYear)

                </th>

                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><i class="fa-solid fa-house"></i></td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IDResidence)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.IDUser)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.StartYear)
                    </td>

                    <td>


                        @Html.ActionLink("Details", "Details", new { id = item.IDResidence }, new { @class = "btn btn-primary" })


                    </td>
                </tr>
            }
        </tbody>

</table>
</div>
    
