@model Infrastructure.Models.Reservation

@{
    ViewBag.Title = "Create Reservation";
}

<h2>Create Reservation</h2>


@using (Html.BeginForm("Save", "Reservation", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Reservation</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.IDUser, "IDUser", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                @Html.DropDownList("IDUser", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IDUser, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IDArea, "IDArea", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                @Html.DropDownList("IDArea", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IDArea, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Start, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="d-flex col-12 gap-3">
                <div class="w-50">
                    @Html.EditorFor(model => model.Start, new { htmlAttributes = new { @class = "form-control", @id = "datetimepickerS" } })
                    @Html.ValidationMessageFor(model => model.Start, "", new { @class = "text-danger" })
                </div>
                <div class="w-50">
                    @Html.EditorFor(model => model.Finish, new { htmlAttributes = new { @class = "form-control", @id = "datetimepickerF" } })
                    @Html.ValidationMessageFor(model => model.Finish, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.Finish, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Finish, new { htmlAttributes = new { @class = "form-control", @id = "datetimepickerF" } })
                    @Html.ValidationMessageFor(model => model.Finish, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group d-none">
            @Html.LabelFor(model => model.Approved, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Approved)
                    @Html.ValidationMessageFor(model => model.Approved, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group mt-5">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
                @Html.ActionLink("Back to List", "UserReservations", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $('#datetimepickerS').datetimepicker();
        $('#datetimepickerF').datetimepicker();
    </script>
}
