@model IEnumerable<Infrastructure.Models.Reservation>

@{
    ViewBag.Title = "Reservations";
}

<h2 class="">Reservations</h2>
<p class="mb-5">Enter to details to approve or deny a pending reservation</p>

<div class="table-responsive">
    <table class="table table-striped trCustom shadow-lg animate__animated animate__fadeIn" id="myTable">
        <thead>
            <tr class="table-dark">
                <th>
                    Resident
                    @*@Html.DisplayNameFor(model => model.User.FullName)*@
                </th>
                <th>
                    AREA
                    @*@Html.DisplayNameFor(model => model.Area.Name)*@
                </th>
                <th>
                    DATE
                </th>
                <th>
                    TIME
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Approved)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Area.Name)
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.Start)*@
                        @item.Start.Date.ToShortDateString()
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.Finish)*@
                        @item.Start.ToShortTimeString() - @item.Finish.ToShortTimeString()
                    </td>
                    <td>
                        @if (item.Approved == true)
                        {
                            <p style="color:green;">Approved</p>
                        }
                        else if (item.Approved == false)
                        {
                            <p style="color:red;">Denied</p>
                        }
                        else if (item.Approved == null)
                        {
                            <p>Pending</p>
                        }
                    </td>


                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.IDReservation }, new { @class = "btn btn-primary" })
                    </td>
                </tr>
            }
        </tbody>

        

    </table>
</div>

