@model IEnumerable<Infrastructure.Models.Reservation>

@{
    ViewBag.Title = "User Reservations";
}

<h2 class="my-3">User Reservations</h2>

<a href="@Url.Action("Create", "Reservation")" class="btn btn-primary my-3"><i class="fa-solid fa-plus"> Make a reservation</i></a>

<div class="table-responsive">
    <table class="table" id="myTable">
        <thead>
            <tr>
                <th>
                    AREA
                </th>
                <th>
                    DATE
                </th>
                <th>
                    TIME
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Approved)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Area.Name)
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.Start)*@
                        @item.Start.Date.ToShortDateString()
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.Finish)*@
                        @item.Start.ToShortTimeString() - @item.Finish.ToShortTimeString()
                    </td>
                    <td>
                        @if (item.Approved == true)
                        {
                            <p style="color:green;">Approved</p>
                        }
                        else if (item.Approved == false)
                        {
                            <p style="color:red;">Denied</p>
                        }
                        else if (item.Approved == null)
                        {
                            <p>Pending</p>
                        }
                    </td>
                </tr>
            }
        </tbody>



    </table>
</div>

