@model Infrastructure.Models.PlanAssignment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Plan Assignment</h4>
    <hr />

    <div class="d-flex bd-highlight">
        <div class="p-2 flex-fill bd-highlight">
            <dl class="dl-horizontal">
                <dt>User Info</dt>

                <dd>
                    ID: @Html.DisplayFor(model => model.Residence.User.IDUser)
                </dd>

                <dd>
                    Name: @Html.DisplayFor(model => model.Residence.User.FirstName) @Html.DisplayFor(model => model.Residence.User.LastName)
                </dd>

                <dd>
                    Email: @Html.DisplayFor(model => model.Residence.User.Email)
                </dd>
            </dl>
        </div>

        <div class="p-2 flex-fill bd-highlight">
            <dl class="dl-horizontal">
                <dt>Residence Info</dt>

                <dd>
                    Number: @Html.DisplayFor(model => model.Residence.IDResidence)
                </dd>

                <dd>
                    Start Year: @Html.DisplayFor(model => model.Residence.StartYear)
                </dd>

                <dd>
                    Actual Plan: @Html.DisplayFor(model => model.PaymentPlan.Name)
                </dd>
            </dl>
        </div>
    </div>


    <hr />
    <div class="d-flex justify-content-between my-4" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"><h4>Payment History</h4><i class="fa-solid fa-chevron-down"></i></div>
    <hr />

    <div class="collapse" id="collapseExample">
        <table class="table">
            <tr>
                <th>Payment Date</th>
                <th>Payed Status</th>
                <th>Amount</th>
                <th>Items</th>
            </tr>

            @foreach (var item in Model.AssignmentDetail)
            {
                if (item.PayedStatus == true)
                {
                    <tr>

                        <td>
                            @item.PaymentDate.ToString("dd/MM/yyyy")
                        </td>
                        <td>
                            <p style="color:green;">Payed</p>
                        </td>
                        <td>
                            $ @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td>
                            @foreach (var pItem in Model.PaymentPlan.PaymentItem)
                            {
                                <span>@Html.DisplayFor(model => pItem.Description) |</span>
                            }
                        </td>
                    </tr>
                }
            }

        </table>
    </div>


    <div class="d-flex justify-content-between my-4 collapsible1" data-bs-toggle="collapse" href="#collapseDebts" role="button" aria-expanded="false" aria-controls="collapseDebts"><h4>Debts</h4><i class="fa-solid fa-chevron-down"></i></div>
    <hr />

    <div class="collapse" id="collapseDebts">
        <table class="table">
            <tr>
                <th>Payment Date</th>
                <th>Payed Status</th>
                <th>Amount</th>
                <th>Items</th>
            </tr>

            @foreach (var item in Model.AssignmentDetail)
            {
                if (item.PayedStatus == false)
                {
                    <tr>

                        <td>
                            @item.PaymentDate.ToString("dd/MM/yyyy")
                        </td>
                        <td>
                            <p style="color:red;">Not Payed</p>
                        </td>
                        <td>
                            $ @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td>
                            @foreach (var pItem in Model.PaymentPlan.PaymentItem)
                            {
                                <span>@Html.DisplayFor(model => pItem.Description) |</span>
                            }
                        </td>

                    </tr>
                }
            }

        </table>
    </div>



</div>

@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })