@model Infrastructure.Models.PlanAssignment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Plan Assignment</h4>
    <hr />
    <dl class="dl-horizontal">
        <div class="d-flex bd-highlight">
            <div class="p-2 flex-fill bd-highlight">
                <dt>User Info</dt>

                <dd>
                    ID: @Html.DisplayFor(model => model.Residence.User.IDUser)
                </dd>

                <dd>
                    Name: @Html.DisplayFor(model => model.Residence.User.FirstName) @Html.DisplayFor(model => model.Residence.User.LastName)
                </dd>

                <dd>
                    Email: @Html.DisplayFor(model => model.Residence.User.Email)
                </dd>
            </div>

            <div class="p-2 flex-fill bd-highlight">
                <dt>Residence Info</dt>

                <dd>
                    Number: @Html.DisplayFor(model => model.Residence.IDResidence)
                </dd>

                <dd>
                    Start Year: @Html.DisplayFor(model => model.Residence.StartYear)
                </dd>

                <dd>
                    Plan: @Html.DisplayFor(model => model.PaymentPlan.Name)
                </dd>
            </div>
        </div>
    </dl>

    <h4>Payment History</h4>

    <table class="table">
        <tr>
            <th>Payment Date</th>
            <th>Payed Status</th>
            <th>Amount</th>
        </tr>

        @foreach (var item in Model.AssignmentDetail)
        {
            if (item.PayedStatus == true)
            {
                <tr>

                    <td>
                        @item.PaymentDate.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        <p style="color:green;">Payed</p>
                    </td>
                    <td>
                        $ @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                </tr>
            }
        }

    </table>

    <h4>Debts</h4>

    <table class="table">
        <tr>
            <th>Payment Date</th>
            <th>Payed Status</th>
            <th>Amount</th>
        </tr>

        @foreach (var item in Model.AssignmentDetail)
        {
            if (item.PayedStatus == false)
            {
                <tr>

                    <td>
                        @item.PaymentDate.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        <p style="color:red;">Not Payed</p>
                    </td>
                    <td>
                        $ @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                </tr>
            }
        }

    </table>


</div>

@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })

