@* Información usuario *@
@{
    string nombre = "";
    string email = "Profile";
    //Validar si existe la Session
    if (Session["user"] != null)
    {
        Infrastructure.Models.User oUser = (Infrastructure.Models.User)Session["User"];

        if (oUser != null)
        {
            nombre = oUser.FullName;
            email = oUser.Email;
        }
    }
}


<nav class="navbar navbar-expand-lg mb-5 shadow sticky-top navbar-custom">
    <div class="container-fluid">
        <a class="navbar-brand " href="#">
            <img src="~/images/NSLogoLogIn.svg" alt="" width="50" >
            <span class="d-lg-none">NEVERSOFT </span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link active" href="@Url.Action("Index","News")"><i class="fa-solid fa-house"></i> Home</a>
                </li>

                @if (Web.Security.AutorizeView.IsUserInRole(new string[] { "Administrator" }))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" data-bs-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa-solid fa-toolbox"></i> Process</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="@Url.Action("Index","PlanAssignment")">Plan Assignment</a>
                            <a class="dropdown-item" href="@Url.Action("Index","PaymentPlan")">Reservations</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" data-bs-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa-solid fa-users-gear"></i> Maintenance</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="@Url.Action("Index","PaymentItem")"><i class="fa-sharp fa-solid fa-money-check-dollar"></i> Payment Items</a>
                            <a class="dropdown-item" href="@Url.Action("Maintenance","PaymentPlan")"><i class="fa-sharp fa-solid fa-file-invoice-dollar"></i> Payment Plan</a>
                            <a class="dropdown-item" href="@Url.Action("Maintenance","Incidence")"><i class="fa-solid fa-triangle-exclamation"></i> Incidence</a>
                            <a class="dropdown-item" href="@Url.Action("Maintenance","News")"><i class="fa-solid fa-newspaper"></i> News</a>
                            <a class="dropdown-item" href="@Url.Action("Maintenance","User")"><i class="fa-solid fa-user"></i> User</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" data-bs-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa-solid fa-list"></i> Lists and details</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="@Url.Action("Index","Residence")"><i class="fa-solid fa-house"></i> Residences</a>
                            <a class="dropdown-item" href="@Url.Action("Index","PaymentPlan")"><i class="fa-sharp fa-solid fa-file-invoice-dollar"></i> Payment Plans</a>
                            <a class="dropdown-item" href="@Url.Action("Index","StatementAccount")"><i class="fa-solid fa-money-bill"></i> Statement Account</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" data-bs-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa-solid fa-chart-simple"></i> Reports</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="@Url.Action("Index","Residence")">Report 1</a>
                            <a class="dropdown-item" href="@Url.Action("Index","PaymentPlan")"> Report 2</a>
                        </div>
                    </li>
                }
                else
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" data-bs-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa-solid fa-person"></i> Services</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="@Url.Action("Create","Incidence")"><i class="fa-solid fa-flag"></i> Report Incidence</a>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" href="@Url.Action("Details/1","StatementAccount")"><i class="fa-solid fa-money-bill"></i> Statement Account</a>
                    </li>
                }



                <li class="nav-item">
                    <a class="nav-link active" href="@Url.Action("Index","News")"><i class="fa-solid fa-circle-info"></i> About</a>
                </li>

            </ul>

            <ul class="navbar-nav ms-auto me-lg-5 mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                       href="" role="button" aria-haspopup="true"
                       aria-expanded="false"><i class="fa-solid fa-user"></i><span class="d-lg-none"> User</span></a>
                    <div class="dropdown-menu">
                        <span class="dropdown-item">@nombre</span>
                        @if (Session["User"] == null)
                        {
                            <a class="dropdown-item"
                               @*Accion, Controlador*@
                               href="@Url.Action("Index","Login")">
                                <i class="fa-solid fa-user-plus"></i>
                                Login
                            </a>
                        }
                        else
                        {
                            <a class="dropdown-item"
                               href="@Url.Action("Logout","Login")">
                                <i class="fa-solid fa-right-from-bracket"></i>
                                Logout
                            </a>
                        }


                    </div>
                </li>
            </ul>
            


        </div>
    </div>
</nav>

