@model IEnumerable<Infrastructure.Models.PaymentItem>

@{
    ViewBag.Title = "Payment Items";
}

<h2>Payment Items Maintenance</h2>

<a href="@Url.Action("Create", "PaymentItem")" class="btn btn-primary">Create <i class="fa-solid fa-plus"></i></a>

<div class="table-responsive ">
    <table class="table table-striped trCustom shadow-lg" id="myTable">
        <thead>
            <tr class=" table-dark">
                <th>
                    @Html.DisplayNameFor(model => model.IDItem)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th></th>
            </tr>
        </thead>
        
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IDItem)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td class="align-items-center text-center align-content-center justify-content-center">
                        <a href="@Url.Action("Edit", "PaymentItem", new { id = item.IDItem })" class="btn btn-primary"><i class="fa-solid fa-pen"></i> Edit</a>
                    </td>
                </tr>
            }
        </tbody>
       
    </table>
</div>

   
